<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false">
    <!--可以自己定义的变量，该文件后边使用-->
    <property name="LOG_HOME" value="C:\Users\WEIYI\Desktop\111" />
    <property name="appName" value="slf4j-logback"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--   此处可以添加filter标签配置appender的日志级别,如LevelFilter等     -->
    </appender>

    <appender name="appLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${appName}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--additivity:false 表示不重复输出-->
    <logger name="com.zjut.study.log.slf4j" level="info" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="appLogAppender"/>
    </logger>

    <root level="debug">
        <!--   只选stdout则只会打印到控制台     -->
        <appender-ref ref="stdout"/>
        <appender-ref ref="appLogAppender"/>
    </root>

</configuration>
