<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjut.study.tdengine.boot.dao.WeatherMapper">

    <select id="lastOne" resultType="com.zjut.study.tdengine.boot.domain.WeatherDO"
            parameterType="java.lang.Integer">
        select last_row(*), location from weather_${cityId};
    </select>

</mapper>
