<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.zjut.study.mybatis.mapper.IsolationTestMapper">-->
<!--    <resultMap id="BaseResultMap" type="com.zjut.study.mybatis.entity.IsolationTestDO">-->
<!--        <id column="id" jdbcType="INTEGER" property="id"/>-->
<!--        <result column="name" jdbcType="VARCHAR" property="name"/>-->
<!--        <result column="audit" jdbcType="TINYINT" property="audit"/>-->
<!--        <result column="age" jdbcType="INTEGER" property="age"/>-->
<!--    </resultMap>-->

<!--    <sql id="base_column_list">-->
<!--        id, 'name', audit, age-->
<!--    </sql>-->

<!--&lt;!&ndash;    <sql id="base_column_where">&ndash;&gt;-->
<!--&lt;!&ndash;        <if test="id !=null">AND id = #{id}</if>&ndash;&gt;-->
<!--&lt;!&ndash;        <if test="name !=null">AND 'name' = #{name}</if>&ndash;&gt;-->
<!--&lt;!&ndash;        <if test="audit !=null">AND audit = #{audit}</if>&ndash;&gt;-->
<!--&lt;!&ndash;        <if test="age !=null">AND age = #{age}</if>&ndash;&gt;-->
<!--&lt;!&ndash;    </sql>&ndash;&gt;-->

<!--    <select id="selectById" parameterType="integer" resultMap="BaseResultMap">-->
<!--        select <include refid="base_column_list"/>-->
<!--        from isolation_test-->
<!--        where id=#{id}-->
<!--    </select>-->
<!--</mapper>-->
